cond_initial/cond_initial_*
Extras/*
profiles/*
out/Figures/*
out/Reactions/*
out/Plot/*
out/depth*
out/old*
out/Save*
out/lifetime.dat
out/lifetime-up.dat
out/lifetime-down.dat
out/surfacelife.dat
out/tauone*
out/Venus*
out/Zahnle*
out/Earth*
*pyc
argo
argo.o
dlsode.o
input.dat
input_parameter.dat
Kout.dat
log.out
output.dat
plot.dat
reservoir.dat
Tout.dat
verif.dat
